/************ General CSS ****************/

.mobile_chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background-color: #e1e7f7;
}

/************ mobile_chat Header ****************/

.mobile_chat_header {
  padding: 20px;
  display: flex;
  align-items: center;
}

.mobile_chat_header > .MuiSvgIcon-root {
  color: grey;
}

.mobile_chat_header_info {
  flex: 1;
  padding-left: 20px;
}

.mobile_chat_header_info > h3 {
  margin-bottom: 3px;
  font-weight: 500;
  color: #5e5470;
}

.mobile_chat_header_info > p {
  color: #a6a4ae;
  font-size: 14px;
}

.mobile_chat_header_right {
  display: flex;
  justify-content: space-between;
  min-width: 20px;
}

/************ mobile_chat Body ****************/

.mobile_chat_body {
  flex: 1;
  background-repeat: repeat;
  background-position: center;
  padding: 2% 4%;
  overflow: scroll;
}

/************ mobile_chat Messages ****************/

.mobile_chat_message {
  position: relative;
  font-size: 16px;
  background-color: #ffffff;
  border-radius: 10px;
  min-width: 30vw;
  width: fit-content;
  max-width: 80vw;
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 1px 4px 20px -6px rgba(94, 84, 112, 1);
}

.mobile_chat_name {
  color: #5e5470;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

.mobile_chat_reciever {
  margin-left: auto;
  background-color: #de2b64 !important;
  color: #ffffff;
}

.mobile_chat_timestamp {
  font-size: xx-small;
  text-align: left;
  display: block;
  color: #a6a4ae;
  margin-top: 10px;
}

.mobile_chat_reciever_timestamp {
  font-size: xx-small;
  text-align: right;
  display: block;
  color: #ffffff;
  margin-top: 10px;
}

/************ mobile_chat Footer ****************/

.mobile_chat_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.mobile_chat_footer > form {
  flex: 1;
  display: flex;
}

.mobile_chat_footer > form > input {
  flex: 1;
  padding: 10px;
  border: none;
  margin-right: 10px;
  background-color: #ffffff;
  border-radius: 20px;
  height: 24px;
  margin-left: 10px;
  color: #5e5470;
}

.mobile_chat_footer > form > input:focus-visible {
  outline: none;
}

.mobile_chat_footer > form > button {
  display: none;
}

.mobile_chat_footer > .MuiSvgIcon-root {
  padding: 10px;
  color: grey;
}
