/************ General CSS ****************/

.sidebar {
  flex: 0.25;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 20px;
  background-color: #ffffff;
  box-shadow: -1px 4px 20px -6px rgba(94, 84, 112, 1);
}

/************ Sidebar Header ****************/

.sidebar_header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.side_header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 5vw;
}

.side_header_right > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
  fill: #B6C8EB  !important;
}

/************ Sidebar Search Container ****************/

.sidebar_search {
  display: flex;
  align-items: center;
  height: 39px;
  padding: 10px;
  margin-bottom: 20px;
}

.sidebar_search_container {
  display: flex;
  align-items: center;
  background-color: #E1E7F7;
  width: 100%;
  border-radius: 20px;
  height: 48px;
  margin-left: 15px;
  margin-right: 15px;
}
.sidebar_search_container > input {
  border: none;
  width: 100%;
  padding: 10px;
  background-color: #E1E7F7;
  border-radius: 20px;
  height: 24px;
  margin-left: 10px;
  color:  #5E5470;
}

.sidebar_search_container > input:focus-visible {
  outline: none;
}

.sidebar_search_container > .MuiSvgIcon-root {
  color: #A6A4AE;
  padding: 10px;
}

/************ Sidebar Chats ****************/

.sidebar_chats {
  flex: 1;
  background-color: white;
  overflow-y: scroll;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sidebar_chat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

.sidebar_chat_selected {
  background-color: #E1E7F7;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-right: #E1E7F7;
  border-left: 3px solid #DE2B64;
}

.sidebar_chat:hover {
  background-color: #B6C8EB;
}

.sidebar_chat_info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
  color: #5E5470;
}

.sidebar_chat_info {
  margin-left: 15px;
  font-size: 12px;
  color: #A6A4AE;
}

.sidebar_chat_elipse {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
}

.no_sidebar_chat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  text-align: center;
}

.no_sidebar_chat > span{
  width: 100%;
}