/************ General CSS ****************/

.sidebar {
  flex: 0.3;
  display: flex;
  flex-direction: column;
}

/************ Sidebar Header ****************/

.sidebar_header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.side_header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 5vw;
}

.side_header_right > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

/************ Sidebar Search Container ****************/

.sidebar_search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 10px;
}

.sidebar_search_container {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}
.sidebar_search_container > input {
  border: none;
  margin-right: 10px;
  width: 100%;
  padding: 10px;
}

.sidebar_search_container > input:focus-visible {
  outline: none;
}

.sidebar_search_container > .MuiSvgIcon-root {
  color: grey;
  padding: 10px;
}

/************ Sidebar Chats ****************/

.sidebar_chats {
  flex: 1;
  background-color: white;
  overflow: scroll;
}

.sidebar_chat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

.sidebar_chat:hover {
  background-color: #ebebeb;
}

.sidebar_chat_info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

.sidebar_chat_info {
  margin-left: 15px;
}

