/************ General CSS ****************/

.chat {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

/************ Chat Header ****************/

.chat_header {
  padding: 20px;
  display: flex;
  align-items: center;
}

.chat_header_info {
  flex: 1;
  padding-left: 20px;
}

.chat_header_info > h3 {
  margin-bottom: 3px;
  font-weight: 500;
  color: #5E5470;
}

.chat_header_info > p {
  color: #A6A4AE;
  font-size: 14px;
}

.chat_header_right {
  display: flex;
  justify-content: space-between;
  min-width: 20px;
}

/************ Chat Body ****************/

.chat_body {
  flex: 1;
  background-repeat: repeat;
  background-position: center;
  padding: 2% 4%;
  overflow: scroll;
}

/************ Chat Messages ****************/

.chat_message {
  position: relative;
  font-size: 16px;
  background-color: #ffffff;
  border-radius: 10px;
  min-width: 10vw;
  width: fit-content;
  max-width: 30vw;
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 1px 4px 20px -6px rgba(94, 84, 112, 1);
}

.chat_name {
  color: #5E5470;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

.chat_reciever {
  margin-left: auto;
  background-color: #DE2B64 !important;
  color: #ffffff;
}

.chat_timestamp {
  font-size: xx-small;
  text-align: left;
  display: block;
  color: #A6A4AE;
  margin-top: 10px;
}

.chat_reciever_timestamp {
  font-size: xx-small;
  text-align: right;
  display: block;
  color: #ffffff;
  margin-top: 10px;
}

/************ Chat Footer ****************/

.chat_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.chat_footer > form {
  flex: 1;
  display: flex;
}

.chat_footer > form > input {
  flex: 1;
  padding: 10px;
  border: none;
  margin-right: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  height: 24px;
  margin-left: 10px;
  color:  #5E5470;
  margin-bottom: 20px;
  box-shadow: 1px 4px 20px -6px #5e5470;
  padding-left: 20px;
}

.chat_footer > form > input:focus-visible {
  outline: none;
}

.chat_footer > form > button {
  display: none;
}

.chat_footer > .MuiSvgIcon-root {
  padding: 10px;
  color: grey;
}

.chat_no_room_selected {
  color: #DE2B64;
}
