.sidebar{
    flex: 0.35;
}

.sidebar_header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.side_header_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.side_header_right > MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
} 