/************ Default CSS ****************/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

::placeholder {
  color: #b6c8eb;
}

a {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

/************ Mobile App CSS ****************/

.app_mobile {
  height: 100vh;
}

.app_mobile_body {
  display: flex;
  background-color: #3855aa;
  height: 100vh;
  width: 100vw;
}

/************ Desktop App CSS ****************/

.app {
  display: grid;
  place-items: center;
  background-color: #3855aa;
  height: 100vh;
}

.app_body {
  display: flex;
  height: 95vh;
  width: 95vw;
  background-color: #e1e7f7;
  border-radius: 20px;
  box-shadow: -1px 4px 20px -6px rgba(94, 84, 112, 1);
}

.login {
  height: 100vh;
  display: grid;
  place-items: center;
  background-image: linear-gradient(
    to right top,
    #3855aa,
    #4c539a,
    #57538b,
    #5c537d,
    #5e5470
  );
}

.login_container {
  display: flex;
  height: 60vh;
  width: 60vw;
  background-color: #e1e7f7;
  border-radius: 20px;
  box-shadow: -1px 4px 20px -6px rgba(94, 84, 112, 1);
}

.background2 {
  background-image: url("./Images/Module.svg");
  background-size: cover;
}

.mobile_login_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
