/************ Default CSS ****************/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

::placeholder {
  color: grey;
}

/************ Desktop App CSS ****************/

.app_desktop {
  height: 100vh;
}

.app_desktop_body {
  display: flex;
  background-color: #ededed;
  height: 100vh;
  width: 100vw;
}
